---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows?page=0
        method: GET
      response:
        body: '{"maintenanceWindows":[{"uuid":"mw_6LoGOMCZJVxJ50","bulkUuid":null,"name":"v106-test-no-notify","title":{"en":"[v1.0.6-TEST] No Notification"},"start_date":"2026-05-01T00:00:00.000Z","end_date":"2026-05-01T02:00:00.000Z","timezone":"UTC","monitors":["mon_MdnOEmCL1uSAoV"],"statuspages":[],"createdBy":"[REDACTED]","createdAt":"2026-02-09T09:22:19.000Z","updates":[],"status":"upcoming","createdByProfilePictureUrl":null,"createdBySsoPictureUrl":"[REDACTED]"},{"uuid":"mw_bYEpyak85qsW3l","bulkUuid":null,"name":"v106-test-multi","title":{"en":"[v1.0.6-TEST] Multi-Monitor Maintenance"},"start_date":"2026-04-15T02:00:00.000Z","end_date":"2026-04-15T06:00:00.000Z","timezone":"UTC","monitors":["mon_2HOnKnkou1tvAp","mon_HmAq69QRQdTh6N","mon_DaF7WQVRIpS2p0"],"statuspages":[],"createdBy":"[REDACTED]","createdAt":"2026-02-09T09:13:19.000Z","updates":[],"status":"upcoming","createdByProfilePictureUrl":null,"createdBySsoPictureUrl":"[REDACTED]"},{"[...]
