---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-monitor-update","url":"https://httpstat.us/200","protocol":"http","http_method":"GET","check_frequency":60,"regions":["london"],"follow_redirects":true,"expected_status_code":"200","paused":true}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: POST
      response:
        body: '{"id":116373,"name":"vcr-test-monitor-update","url":"https://httpstat.us/200","uuid":"mon_C5w2HuCsdCq2vv","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1cf-uZFcwqz/+ZV3fTqpwr/xvdeWNDE"
        status: 201 Created
        code: 201
        duration: 983.534099ms
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-monitor-updated","check_frequency":120,"regions":["london","frankfurt"]}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors/mon_C5w2HuCsdCq2vv
        method: PUT
      response:
        body: '{"id":116373,"name":"vcr-test-monitor-updated","url":"https://httpstat.us/200","uuid":"mon_C5w2HuCsdCq2vv","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london","frankfurt"],"check_frequency":120,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1dd-HfLNnhB7tsP2GWqBJJoV/Ztd2Q4"
        status: 200 OK
        code: 200
        duration: 1.020884985s
[...]
