---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-monitor-pause","url":"https://httpstat.us/200","protocol":"http","http_method":"GET","check_frequency":60,"regions":["london"],"follow_redirects":true,"expected_status_code":"200"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: POST
      response:
        body: '{"id":116374,"name":"vcr-test-monitor-pause","url":"https://httpstat.us/200","uuid":"mon_nYxIQUIT5raY6I","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1cf-5zVs7sYjhXvALj0Pw02g6eejWrc"
        status: 201 Created
        code: 201
        duration: 1.36401624s
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"paused":true}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors/mon_nYxIQUIT5raY6I
        method: PUT
      response:
        body: '{"id":116374,"name":"vcr-test-monitor-pause","url":"https://httpstat.us/200","uuid":"mon_nYxIQUIT5raY6I","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1ce-eIoOHHk/nlGBNyisijzL/SGlSMo"
        status: 200 OK
        code: 200
        duration: 861.290994ms
[...]
