---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-monitor","url":"https://httpstat.us/200","protocol":"http","http_method":"GET","check_frequency":60,"regions":["london","frankfurt"],"follow_redirects":true,"expected_status_code":"200","paused":true}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: POST
      response:
        body: '{"id":116375,"name":"vcr-test-monitor","url":"https://httpstat.us/200","uuid":"mon_kwPWfFixfr7YiC","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1d4-PzfiUwe834lpAeZ1Nyo0KSN8zCo"
        status: 201 Created
        code: 201
        duration: 1.593547687s
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors/mon_kwPWfFixfr7YiC
        method: GET
      response:
        body: '{"id":116375,"name":"vcr-test-monitor","url":"https://httpstat.us/200","uuid":"mon_kwPWfFixfr7YiC","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1d4-PzfiUwe834lpAeZ1Nyo0KSN8zCo"
        status: 200 OK
        code: 200
        duration: 281.764134ms
[...]
